.about{
padding: 120px 0;
background: #f5f5f5;
}

.about-super {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1100px;
  margin-bottom: 10px;
}


.about-heading {
  grid-column: 1 / -1; /* full width */
}

.about-title {
  font-size: clamp(36px, 4vw, 64px);
  font-weight: 500;
  line-height: 1;
  margin: 0 0 60px 0;
  max-width: 900px;
}



.about-grid {
  display: grid;
  gap: 60px;
}

@media (min-width: 1024px) {
  .about-grid {
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
  }
}

.about-image {
  width: 100%;
  height: 400px;
  background: url('/about.jpg') center/cover no-repeat;
  border-radius: 3px;
}

.about-text {
  font-size: 24px;
  line-height: 1.3;
  max-width: 900pxx;
}

.glass-btn {
  padding: 10px 22px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  color: #000;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

.glass-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
