/* FOOTER CONTAINER */
.footer-cta {
  position: relative;
  background: #f1f1f1;
  text-align: center;
  overflow: hidden;
}

/* MASSIVE CTA GRID TEXT */
.footer-main-cta {
  font-size: 17vw;          /* huge and responsive */
  font-weight: 900;
  letter-spacing:0.0;
  line-height: 1;
  padding-top:50px;
  color: #000;
}

/* SUPPORTING CONTENT */
.footer-inner {
  max-width: 800px;
  margin: 0 auto ;
}

.footer-inner h2 {
  font-size: 18px;
  margin-bottom: 40px;
}

.footer-btn {
  padding: 10px 22px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  background: rgba( 0, 0, 0, 1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  color: white;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.3s ease;
}

/* LEGAL LINKS */
.footer-legal {
  display: flex;
  justify-content: start;
  gap: 30px;
  font-size: 14px;
  color: #888;
}
